<h1>LOGIN</h1>
<h2>This is a heading</h2>

<p>This is a paragraph.</p>
<p>This is another paragraph.</p>

<button>Click me</button>
<div class="div">   
   <a href="/auth/google" class="btn red darken-1"><i>Login with google auth</i></a>
</div>